<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.personal.fitnessschedule"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PersonalRecord"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.personal.fitnessschedule.providers.MetricContentProvider"
            android:authorities="com.personal.fitnessschedule.metriccontentprovider"
            android:exported="false" />
        <provider
            android:name="com.personal.fitnessschedule.providers.SkillContentProvider"
            android:authorities="com.personal.fitnessschedule.skillcontentprovider"
            android:exported="false" />
        <provider
            android:name="com.personal.fitnessschedule.providers.WorkoutContentProvider"
            android:authorities="com.personal.fitnessschedule.workoutcontentprovider"
            android:exported="false" />
        <provider
            android:name="com.personal.fitnessschedule.providers.WorkouttrailContentProvider"
            android:authorities="com.personal.fitnessschedule.workouttrailcontentprovider"
            android:exported="false" />
        <provider
            android:name="com.personal.fitnessschedule.providers.WorkouttypesContentProvider"
            android:authorities="com.personal.fitnessschedule.workouttypescontentprovider"
            android:exported="false" />
    </application>

</manifest>
